@media (max-width: 768px) {
  #sidebar {
    .logo {
      text-align: left;
    }
    nav ul li {
      a {
        display: flex;
        align-items: center;

        span {
          display: block;
          padding-left: 8px;
        }
      }

      > span {
        display: none;
      }
    }
  }
}
